# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore node modules
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build artifacts
dist/
build/

# Ignore Visual Studio Code settings
.vscode/

# Ignore lock file
pnpm-lock.yaml