<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <div class="container mx-auto px-8 mt-4 min-h-screen flex flex-col justify-center items-center gap-4">

            <h1 class="text-4xl font-bold mb-4">About Trailer Count App</h1>
            <p class="text-lg mb-4">
                The Trailer Count App is designed to help logistics and transportation companies efficiently manage and
                track their trailer inventory. Our app provides real-time updates and detailed analytics to ensure that
                you always have the information you need at your fingertips.
            </p>
            <h2 class="text-2xl font-semibold mb-2">Features</h2>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-4">
                <li class="flex items-start gap-4">
                    <i class="icon-[mi--filter] text-3xl text-slate-700" role="img" aria-hidden="true"></i>
                    <div class="flex flex-col gap-2">
                        <h2 class="text-lg font-bold">Advanced Filtering Options</h2>
                        <p>Filter trailers by type or location to find exactly what you need in seconds.</p>
                    </div>
                </li>
                <li class="flex items-center gap-4">
                    <span class="material-icons">icon</span>
                    <div class="flex flex-col gap-2">
                        <h2 class="text-lg font-bold">Effortless Trailer Management</h2>
                        <p>Quickly view all trailers in one organized list, making it easy to stay on top of your fleet.</p>
                    </div>
                </li>
                <li class="flex items-center gap-4">
                    <span class="material-icons">icon</span>
                    <div class="flex flex-col gap-2">
                        <h2 class="text-lg font-bold">SImple Trailer Count Submission</h2>
                        <p>Submit trailer counts with ease through a straightforward form and ensure accurate tracking at each yard.</p>
                    </div>
                </li>
                <li class="flex items-center gap-4">
                    <span class="material-icons">icon</span>
                    <div class="flex flex-col gap-2">
                        <h2 class="text-lg font-bold">Advanced Filtering Options</h2>
                        <p>Filter trailers by type or location to find exactly what you need in seconds.</p>
                    </div>
                </li>
                <li class="flex items-center gap-4">
                    <span class="material-icons">icon</span>
                    <div class="flex flex-col gap-2">
                        <h2 class="text-lg font-bold">Advanced Filtering Options</h2>
                        <p>Filter trailers by type or location to find exactly what you need in seconds.</p>
                    </div>
                </li>
            </ul>
            <h2 class="text-2xl font-semibold mb-2">Purpose</h2>
            <p class="text-lg">
                Our goal is to streamline the trailer management process, reduce operational costs, and improve overall
                efficiency. By providing accurate and up-to-date information, the Trailer Count App helps you make
                informed decisions and optimize your logistics operations.
            </p>

        </div>

        <%- include('partials/footer') %>