<%- include('partials/head') %>
  <%- include('partials/navbar') %>

    <div class="container mx-auto px-8 mt-4 min-h-screen flex flex-col justify-center items-center gap-4">

      <h1 class="text-3xl font-bold">Trailer Count App</h1>
      <div class="flex gap-4">
        <a href="/trailers" rel="noopener noreferrer" class="px-4 py-2 bg-slate-700 hover:bg-slate-600 text-white rounded-md transition-all ease-in capitalize">view all trailers</a>
        <a href="/submit-trailer-count" class="px-4 py-2 border-2 border-slate-700 hover:bg-slate-100 rounded-md transition-all ease-in capitalize">submit new trailer count</a>
      </div>
      
    </div>

    <%- include('partials/footer') %>