<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container mx-auto mt-4">
  <h1 class="text-3xl font-semibold">Trailer #</h1>
  
</div>

<%- include('../partials/footer') %>