<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

        <div class="container mx-auto my-16 flex flex-col justify-center items-center">
            <h1 class="text-3xl mb-8">Trailer Count Form</h1>
            <p id="errorMessage"
                class="px-4 py-2 rounded-md font-bold text-red-600 bg-red-200 border border-red-400 mb-4 hidden"></p>
            <form id="trailerForm" class="space-y-4 max-w-lg w-full border border-gray-300 p-5 rounded-md shadow-md">
                <div class="mb-1">
                    <p class="text-gray-600 mb-2 self-start">Fill out the form to add a trailer to the list.</p>
                    <label for="trailerType" class="block text-sm font-medium text-gray-700">Trailer Type</label>
                    <select id="trailerType" name="type"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="" disabled selected>Select Trailer Type</option>
                        <option value="dryvan">Dryvan</option>
                        <option value="reefer">Reefer</option>
                        <option value="tanker">Tanker</option>
                    </select>
                </div>
                <div class="mb-1">
                    <label for="number" class="block text-sm font-medium text-gray-700">Trailer Number</label>
                    <input id="number" type="text" name="number"
                        class="w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="Enter trailer number" />
                </div>
                <div class="mb-1">
                    <label for="condition" class="block text-sm font-medium text-gray-700">Cleanliness</label>
                    <select id="condition" name="condition"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="" disabled selected>Select Condition</option>
                        <option value="dirty">Dirty</option>
                        <option value="clean">Clean</option>
                    </select>
                </div>
                <div class="mb-1">
                    <label class="block text-sm font-medium text-gray-700">Load Status</label>
                    <div class="mt-2 flex gap-4">
                        <div class="flex items-center">
                            <input id="empty" name="loaded" type="radio" value="empty"
                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                            <label for="empty" class="ml-3 block text-sm font-medium text-gray-700">Empty</label>
                        </div>
                        <div class="flex items-center">
                            <input id="loaded" name="loaded" type="radio" value="loaded"
                                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                            <label for="loaded" class="ml-3 block text-sm font-medium text-gray-700">Loaded</label>
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="driverNotes" class="block text-sm font-medium text-gray-700">Driver Notes</label>
                    <textarea id="driverNotes" name="driverNotes"
                        class="w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        placeholder="Enter any notes here"></textarea>
                </div>
                <div id="fuelLevelContainer" class="mb-1 hidden transition-all ease-in">
                    <label for="fuelLevel" class="block text-sm font-medium text-gray-700">Fuel Level</label>
                    <input type="range" id="fuelLevel" name="fuelLevel" min="0" max="100" step="5"
                        class="w-full focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <span id="fuelLevelValue" class="block text-sm font-medium text-gray-700 mt-2"></span>
                </div>
                <div class="mb-1">
                    <label for="yardLocation" class="block text-sm font-medium text-gray-700">Yard Location</label>
                    <select id="yardLocation" name="yardLocation"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="" disable selected>Select Yard Location</option>
                        <option value="Skikos Santa Rosa Yard">Skikos Santa Rosa Yard</option>
                        <option value="Skikos Dirt Yard">Skikos Dirt Yard</option>
                        <option value="Skikos American Canyon Yard">Skikos American Canyon Yard</option>
                        <option value="Skikos Napa Yard">McClellan Yard</option>
                    </select>
                </div>

                <div class="flex gap-4">
                    <button id="addTrailer" type="button"
                        class="px-4 py-2 bg-slate-700 hover:bg-slate-600 rounded-md transition-all ease-in capitalize text-white">add
                        trailer</button>
                    <button id="submitTrailers" type="submit"
                        class="px-4 py-2 bg-blue-600 hover:bg-blue-500 rounded-md text-white transition-all ease-in">Submit
                        Trailer Count</button>
                </div>
            </form>

            <div id="trailerList" class="mt-8 max-w-lg w-full border border-gray-300 p-5 rounded-md shadow-md hidden">
                <h2 class="text-xl font-bold mb-4">Trailers Added</h2>
                <ul id="trailers" class="flex flex-wrap items-center gap-2">
                    <!-- Trailers will be added here dynamically -->
                </ul>
            </div>
        </div>

        <%- include('../partials/footer') %>